* {
    font-family: Helvetica, sans-serif;


}

header{
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

header .logo{
    margin-left: 200px;
    padding: 10px;


}

.links {
    display: flex;
    margin-right: 40px;

}

.links a{
    padding: 10px;
    text-decoration: none; 
}

.links a:link {
    color: #F9FAF8;
}

.links a:visited {
    color: #F9FAF8;
}





button{
    background-color: #3882F6;
}

.section-1{

    font-size: x-large;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    display: flex;
    /* gap: 20px; */
}

/* .section-1 .container1{

}

.section-1 .container2{

} */


.section-2{

    font-size: x-large;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 400px;
    gap: 48px
}

.section-2 .image {
    display: flex;
    flex-direction: column;
    align-items: center;

}

  .section-2 .image img{

    border-radius: 30px;
    border: 3px solid #3882F6;
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;

}



.section-3{
    font-size: x-large;
    background-color: #E5E7EB;
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.section-3 .quote{
    padding-top: 40px;
    width: 600px;
    text-align: center;
}

.section-3 .quote .author{
    font-weight: bold;
    text-align: end;

}


.section-4{
    font-size: x-large;
    background-color: #3882F6;
    align-items: center;
    justify-content: center;
    display: flex;
}

footer {
    justify-content: center;
    display: flex;
    padding: 1rem;
    text-align: center;
}