* {
    font-family: Helvetica, sans-serif;


}

header{
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    display: flex;
}

button{
    background-color: #3882F6;
}

.section-1{

    font-size: x-large;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    display: flex;
}

.section-2{

    font-size: x-large;
    align-items: center;
    justify-content: center;
    display: flex;


}

.section-3{

    font-size: x-large;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-items: center;
    justify-content: center;
    display: flex;

}

.section-4{

    font-size: x-large;
    background-color: #3882F6;
    align-items: center;
    justify-content: center;
    display: flex;


}